.wrap_layout_qlsv {

    margin: 40px 0;
    user-select: none;
    &__container {
        display: flex;
        flex-direction: row;
        .wrap_layout_input_info {
            width: 20%; 
            
            .addSV{ 
                border: none;
                color: white;
                padding: 4px 8px;
                background-color: blue;
            }

            .editSV {
                border: none;
                color: white;
                padding: 4px 8px;
                background-color: green;
            }
        }
        .wrap_list_sv {
            width: 80%;

            .grid_list_sv {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 0px 0px;
                grid-template-areas:
                    ". . . . .";
            }
        }





    }
}
